node_modules/
.expo/
.expo-shared/
dist/
build/
web-build/
ios/
android/
*.log
.DS_Store
.env
.env.local
.env.*.local
*.p8
*.p12
*.keystore
credentials.json
play-service-account.json
google-services.json
*.cer
*.jks
*.orig.*
